*.ipynb_checkpoints
*__pycache__
fits/*
*.pyc
*.fit
*.gz
.coverage
.DS_Store
.eggs
.tox
*lightning_logs
*.whl
.idea
htmlcov/
build/
temp/
.vscode/
.env
.venv
jupyter/
output/
hydra_temp/
bin/
.pytest_cache/
.venv
nohup*.out
multirun
*.db
inference_visualizations/
outputs/
checkpoints/
*.ckpt
*.pt
des_directories.txt
.ruff_cache/
